
module my-httpd 1.0;

require {
	type admin_home_t;
	type httpd_t;
	class file { getattr open read };
}

#============= httpd_t ==============

#!!!! This avc is allowed in the current policy
allow httpd_t admin_home_t:file { getattr open read };
